/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 100px;
  color: #333;
  overflow-x: hidden;
}

.blue-header {
  background-color: #154270 !important;
}

.title {
  font-family: Cinzel, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #cd8e33;
}

.slogan {
  font-family: Maven Pro, sans-serif;
  color: #cd8e33;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
}

.hero {
  background-image: url("../images/hero2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  margin: 80px 0;
}

.navbar-nav .nav-item {
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.hero-title {
  font-family: Cinzel, sans-serif;
  color: #cd8e33 !important;
}

.hero-content {
  font-family: Maven Pro, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero-img h1,
.hero-img p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.custom-button {
  background-color: #154270;
  border-color: #154270;
}

.custom-button:hover {
  background-color: #0b2d4f;
  border-color: #0b2d4f;
}

.banner,
.about,
.services,
.contact,
.page-section {
  padding: 0;
  text-align: center;
}

.page-section {
  background-color: #f9f9f9;
  padding: 2rem 1rem;
}

.page-section h2,
.page-section h3 {
  font-size: 2.5rem;
  color: #004080;
  margin-bottom: 1rem;
}

.page-section p,
.page-section ul {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.page-section ul {
  padding-left: 20px;
}

.page-section ul li {
  margin-bottom: 1rem;
}

.page-section ul li strong {
  color: #154270;
}

.member {
  font-weight: 700;
}

.contact {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/assets/images/contact.jpeg") no-repeat center center;
  height: 20vh;
  background-size: cover;
  color: white;
  position: relative;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  text-align: left;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #004080;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: #0059b3;
}

.contact-details {
  margin-top: 2rem;
}

.contact-details h3 {
  font-size: 1.5rem;
  color: #004080;
  margin-bottom: 1rem;
}

.contact-details p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.contact-details a {
  color: #004080;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

/* NH Local Unions Stlyes */
.nh-local-unions {
  margin-top: 120px; /* Adjust based on header height */
  padding: 2rem;
}

.nh-local-unions input[type="text"] {
  width: 95%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nh-local-unions ul {
  list-style: none;
  padding: 0;
}

.nh-local-unions li {
  margin-bottom: 1rem;
}

.nh-local-unions h2 {
  font-size: 1.5rem;
  color: #000000;
  cursor: default;
  margin-bottom: 0.5rem;
}

.nh-local-unions ul ul {
  margin-left: 20px;
}

.nh-local-unions ul ul li {
  margin-bottom: 0.5rem;
}

.nh-local-unions ul ul li a {
  color: #004080;
  text-decoration: none;
}

.nh-local-unions ul ul li a:hover {
  text-decoration: underline;
}

/* Contact Info Styles */
.contact-info-box {
  background-color: #f9f9f9;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info-box h2 {
  font-size: 2rem;
  color: #004080;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-info-box h3 {
  font-size: 1.5rem;
  color: #004080;
  margin-bottom: 0.5rem;
}

.contact-info-box p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: left;
}

.contact-info-box a {
  color: #004080;
  text-decoration: none;
}

.contact-info-box a:hover {
  text-decoration: underline;
}

/* News styles */
.news {
  padding: 2rem 1rem;
  margin-top: 80px; /* Adjust as needed */
  background-color: #f9f9f9;
}

.news-date {
  font-size: 1rem;
  color: #666666;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 10px;
}

.news h2 {
  font-size: 2.5rem;
  color: #004080;
  margin-bottom: 2rem;
}

.news h3 {
  font-size: 2rem;
  color: #004080;
  margin-bottom: 1rem;
  text-align: left;
}

.news-articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-article {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.news-article h3 {
  font-size: 1.8rem;
  color: #004080;
}

.news-article .news-date,
.news-article .news-source {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1rem;
}

.news-article p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.news-article a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #004080;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.news-article a:hover {
  background-color: #0059b3;
}

/* Container for Image and Caption */
.image-container {
  float: left;
  margin: 1rem 1.5rem 1rem 0;
  text-align: left;
  border-bottom: 1px solid black;
}

/* .image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.image-caption {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
  font-style: italic;
}

/* Table Styles */
.candidates-table {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  clear: both;
}

.candidates-table th,
.candidates-table td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
}

.candidates-table th {
  background-color: #154270;
  color: #fff;
  font-weight: 600;
}

.candidates-table td {
  background-color: #f9f9f9;
}

.candidates-table td:first-child {
  background-color: #e6f0ff;
  font-weight: bold;
}

.candidates-table tr:hover td {
  background-color: #e0e0e0;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  height: 70vh;
  overflow-y: auto;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* Minimalist scrollbar styles for WebKit browsers (Chrome, Safari) */
.modal-content::-webkit-scrollbar {
  width: 5px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Minimalist scrollbar styles for Firefox */
.modal-content {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.modal-content h2,
.modal-content h3 {
  color: #004080;
}

.modal-content p {
  line-height: 1.6;
  margin-bottom: 1em;
  text-align: left;
}

.modal-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.modal-content p strong {
  display: block;
  margin-bottom: 0.5em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navbar-brand {
    max-width: 100%;
    text-align: center;
  }

  .navbar-brand img {
    max-width: 70px; /* Smaller logo */
    height: auto;
  }

  .navbar-brand .slogan {
    font-size: 0.7rem;
    display: block;
    white-space: normal;
  }
}
